<div class="row-fluid span8 home_title">
    Lake Geneva's Premier Eventing & Dressage Center!
</div>

<div id="front_gate" class="span6 row-fluid">
	<%= image_tag "/assets/front_gate.jpg"%>
</div>

<div class="span4">
  <div class="header_middle">
    <span class="header-middle_title">Welcome to the Geneva Equestrian website!</span> <br/>
    Please take a moment to look around the site. We offer an array of <br/>
    activities for all equine enthusiasts including:<br/>
    <ul>
      <li> lessons</li>
      <li>clinics</li>
      <li>a rider's club</li>
      <li>cross country schooling course</li>
      <li>a facility that any competitor would be proud of.</li>
    </ul>
  </div>
  <br/>

  <strong>
  See Clinics page for upcoming <br/>
  clinics and forms.<br/><br/>
  NEW Outdoor Dressage Arenas and Cross Country jumps!<br/><br/>  <br/>

  Pasture board $400 and Stall board $650 available
  </strong>
</div>
