<div id="front_gate" class="span7">
	<%= image_tag "/assets/about_barn.jpg"%>
</div>
<div class="span5">
  <h3 class="centered-section" >Some of the Elite Accommodations offered at<br/>Geneva Equestrian:</h3>
  <ul class="margin-30">
  <div class="span6">
    <li>Full-Service Board</li>
    <li>Basic Board</li>
    <li>Pasture Board</li>
  </div>
    <div class="span6">
      <li>Training</li>
      <li>Lessons</li>
      <li>Clinics</li>
    </div>
  </ul>
<br/> <br/><br/>  <br/>
  <div class="centered-section">
    23 Stall Heated Barn with Indoor Wash Stall<br/>
    Heated 60 x 150 Indoor Riding Arena<br/>
    100 x 200 Outdoor Riding Arena<br/><br/>
    <strong>Grass Turnouts:</strong> <br/>
    1 acre Individual Turnouts,<br/>
    20 acre pasture, 30 acre pasture<br/><br/>
    Gated Entry to Facility<br/>
    24-hr On-Site Barn Manager<br/>
    Workshops for Young Riders	 <br/>
    Geneva Equestrian Riders Club
  </div>
</div>
<div class="row-fluid span9">

  <strong>Welcome to Geneva Equestrian!</strong><br/>
  Owner, and amateur rider, Cindy Bonamarte, could not be more excited about
  what she and her staff have to offer the horse enthusiast.<br/><br/>
  Geneva Equestrian, acquired in late 2003
  is continually introducing new improvements to ensure top-level accommodations for both horse and rider.
  Whether you are a beginner or a seasoned competitor, Geneva Equestrian has a program to suit all needs.
  <br/><br/>
  Geneva Equestrian is primarily an eventing barn with a strong emphasis on dressage! New this year is a
  cross country schooling course with a water complex, banks, and ditches! Offering clinics year round,
  a full-time trainer, and an environment to help the rider succeed in the show ring, Geneva Equestrian
  is a premier training facility located in Southeastern Wisconsin.



</div>


