<div class="row-fluid span10">
  <h2>Upcoming <%= @event_title %> Events</h2>

  <table class="table table-striped">
    <% @events.each do |e| %>
        <tr>
          <span class="span2">
           <td><%= e.name %></td>
          </span>
          <span class="span2">
            <td><%= e.date_and_time.strftime("%Y-%m-%d %H:%M") %></td>
          </span>
          <span class="span6">
            <td><%= e.description.html_safe %></td>
          </span>
        </tr>
    <% end %>
  </table>
</div>