<div class="row">
	<div class="span1">&nbsp;</div>
	<div class="span2" style="padding-top: 20px;"> 
		<center><h3 style="color: black;">Geneva Equestrian specializes in dressage and eventing, although all disciplines are welcome.</h3></center>
	</div>
	<div class="span6">
		<center><%= image_tag "/assets/train_pic_center.jpg"%></center>
	</div>
	<div class="span2" style="padding-top: 50px;"> 
		<center><h3 style="color: black;">Clients in our barn range from beginner to seasoned competitor.</h3></center>
	</div>
</div>
<div class="row">
		<div class="span1">&nbsp;</div>
		<div class="span2"> 
			<center><%= image_tag "/assets/train_pic_left.jpg"%></center>
		</div>
		<div class="span6">
			<center><br/><p>The property is equipped with an indoor heated riding arena, heated barn, and a large outdoor riding arena with screened-in viewing gazebo.  You really have to see this one-of-a-kind facility to appreciate the endless variety of training options available for you and your horse.</p>

			<p>We currently offer professional instruction in dressage and eventing.  From beginner to the advanced rider, Geneva Equestrian has something for you.</p></center>
		</div>
		<div class="span2" > 
			<center><%= image_tag "/assets/train_pic_right.jpg"%></center>
		</div>
	</div>
   

