<center><h1>Boarding at Geneva Equestrian</h1></center>
<strong>Full Service Board:  $900</strong>

<p>Our Full Service facility is professionally staffed to cater to you and your horse's needs.  If your lifestyle includes horses but your schedule does not permit the time for grooming and tacking, our full-service provides:</p>

<ul>
	<li>7-Day Outdoor Turnout</li>
	<li>Grooming/Top Quality Daily Care and Safety Check of Tack & Equipment</li>
	<li>Meals Fed 3 Times Daily</li>
	<li>Daily Bedding</li>
	<li>Laundry Service for Pads/Polos/Sheets</li>
	<li>Mane Maintenance/Clipping</li>
</ul>

<strong>Basic Board:  $650</strong>

Includes:<br/> 
<ul>
	<li>7-day turnout</li> 
	<li>use of the arenas</li>
	<li>feet picked daily</li>
	<li>feed: 3 hay and 2 grain meals daily</li>
</ul>

<strong>Pasture Board:  $400</strong>
<p>Large pastures with shelters includes use of wash rack, tack area and arena privileges.</p>

<strong>Other Services Offered @ an Additional Charge:</strong>
<ul>
	<li>Administering Medication	 </li>
	<li>Veterinary Care</li>
	<li>Body Clipping</li>
	<li>Trailering</li>
	<li>Supplements</li>
	<li>Tack Repairs</li>
	<li>Blanket Laundry/Repair</li>
</ul>