<footer class="navbar navbar-fixed-bottom" >
  <nav class="navbar-inner"> 
	<div class="container-fluid">
		<div class="row-fluid">
		<span style="float: left; margin-right: 10px; margin-left: 10px; margin-top: 5px" class="span3">
			Copyright © <%=Date.today.year%> Geneva Equestrian
		</span>
		<span class="span6">&nbsp;</span>
		<span style="float: right; margin-right: 10px; margin-left: 10px; margin-top: 5px;" class="span2">
	      <span style="color: darkgray;">Built By:</span>
		  <%= link_to "aamax Software", "mailto:aamax@xmission.com" %>
		</span>
	</div>
  </nav>
</footer>