<div id="nav_menu">
  <p><a data-toggle="modal" href="/" class="btn  btn-primary btn-large menu_button">Home</a></p>

  <p><a data-toggle="modal" href="/about" class="btn  btn-primary btn-large menu_button">About Us</a></p>

  <p><a data-toggle="modal" href="/boarding" class="btn btn-primary btn-large menu_button">Boarding</a></p>

  <p><a data-toggle="modal" href="/training" class="btn btn-primary btn-large menu_button">Training</a></p>

  <p><a data-toggle="modal" href="/facility" class="btn btn-primary btn-large menu_button">Facility</a></p>

  <p><a data-toggle="modal" href="/x_country" class="btn btn-primary btn-large menu_button">Cross Country</a></p>

  <p><a data-toggle="modal" href="/calendar" class="btn btn-primary btn-large menu_button">Calendar</a></p>

  <p><a data-toggle="modal" href="/clinics" class="btn btn-primary btn-large menu_button">Clinics</a></p>

  <p><a data-toggle="modal" href="/schooling" class="btn btn-primary btn-large menu_button">GE Schooling Shows</a>
  </p>

  <p><a data-toggle="modal" href="/outside" class="btn btn-primary btn-large menu_button">Outside Events</a></p>

  <p><a data-toggle="modal" href="/construction" class="btn btn-primary btn-large menu_button">Sales</a></p>

  <p><a data-toggle="modal" href="/contact" class="btn btn-primary btn-large menu_button">Contact</a></p>

  <p><a data-toggle="modal" href="/links" class="btn btn-primary btn-large menu_button">Links</a></p>

  <p><a data-toggle="modal" href="/downloads" class="btn btn-primary btn-large menu_button">Downloads</a></p>

</div>
<br/><br/>